.registerStudent-holder {
    margin:10px auto 0 auto;
    max-width: 1000px;
    padding: 1rem;
    background-color: rgba(19, 19, 28, 0.825);
    border-radius: 10px;
    color: #fff;
}
.registerStudent-holder form .box{
    display: flex;
    flex-direction: column;

    
}
.registerStudent-holder form .box:nth-of-type(2){
    border-left: 1px solid ;
    padding-left: 10px;
}
.registerStudent-holder form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
   
    padding-bottom: 1rem;
}



.registerStudent-holder input[type="text"],
.registerStudent-holder input[type="email"],
.registerStudent-holder input[type="password"],
.registerStudent-holder button,
.registerStudent-holder select,
.registerStudent-holder textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  padding: 0.25rem;
  border-radius: 0.5rem;

  height: fit-content;

}

.registerStudent-holder label,
.registerStudent-holder button {
  margin-top: 1rem;
}

.registerStudent-holder button {
  padding: 0.5rem;
  
}

.registerStudent-holder li {
    list-style-type: none;
}

.registerStudent-holder .instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.registerStudent-holder .instructions > svg {
    margin-right: 0.25rem;
}

.registerStudent-holder .offscreen {
    position: absolute;
    left: -9999px;
}

.registerStudent-holder .hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}


h1{
    text-align: center;
    border-bottom: solid 1px;
    padding-bottom: 5px;
}

.sign-up{
    margin-top: 10px;
}
.sign-in{
    
    font-size: 30px;
    margin-top: 100px;
 color: aqua;
}
.seccess{
    text-align: center;
   
}
.gender>label{
    display: flex;
    align-items: center;
   margin: 0.5rem 0;
  

}
.select-gender{
    margin-left: 20px;
    

}
.line{
    border-bottom: 2px solid red ;
    height: 1px;
    width: 100%;
    
}